﻿@{
    ViewBag.Title = "SetChannelRestrictLevel";
}

<script type="text/javascript">
    function GetChannelRestrictLevel(serverNo) {
        var restrictLevel;
        InvokeWebServiceSyncByUri('/api/TeraData/GetChannelRestrictLevel', 'serverNo=' + serverNo, function (jsonData) {
            restrictLevel = jsonData;
        });
        return restrictLevel;
    }

    var GenerateParam = function () {
        return {
            serverNo: $('#ServNoDDL').val(),
            restrictLevel: $('#RestrictLevelDDL').val(),
            memo: $('#memo-dialog-text').val()
        };
    };

    $(function () {
        var displayString = GetDisplayString();
        RegisterMemoDialog('dialog-message', 'memo-dialog');

        var messageBox = '#dialog-message';
        var messageLabel = '#dialog-message-label';
        var dialogForm = '#memo-dialog';
        var memoText = '#memo-dialog-text';
        var openDialog = '#open-dialog';
        var checkCurrentSetting = '#check-current-setting';

        var confirmLabel = displayString.OK;
        var cancelLabel = displayString.Cancel;
        var confirmMessage = displayString.ConfirmInput;
        var successMessage = displayString.Success;
        var failureMessage = displayString.Fail;
        var messageBoxTitle = displayString.Result;
        var dialogFormTitle = displayString.MemoRegister;
        var webServiceUrl = '/api/OpCommand/SetChannelRestrictLevel';

        var messageBoxButtons = {};
        messageBoxButtons[confirmLabel] = function () {
            $(this).dialog("close");
            $(dialogForm).dialog("close");
        };

        $(messageBox).dialog({
            title: messageBoxTitle,
            modal: true,
            autoOpen: false,
            buttons: messageBoxButtons
        });

        var dialogFormButtons = {};
        dialogFormButtons[confirmLabel] = function () {
            if (confirm(confirmMessage)) {
                var param = GenerateParam();
                InvokeWebService(webServiceUrl, param,
                    function (jsonData) {
                        $(messageLabel).text(jsonData);
                        $(messageBox).dialog("open");
                        $(memoText).val('');
                    },
                    function (e) {
                        $(messageLabel).text(failureMessage);
                        $(messageBox).dialog("open");
                    });
            }
        };

        dialogFormButtons[cancelLabel] = function () {
            $(this).dialog("close");
        };

        $(dialogForm).dialog({
            title: dialogFormTitle,
            autoOpen: false,
            height: 350,
            width: 500,
            modal: true,
            buttons: dialogFormButtons
        });

        $(openDialog).button().click(function () {
            $(dialogForm).dialog("open");
            return false;
        });

        $(checkCurrentSetting).button().click(function () {
            var restrictLevel = GetChannelRestrictLevel($('#ServNoDDL').val());
            $('#RestrictLevelDDL').val(restrictLevel);
        });

        $('#ServNoDDL').change(function () {
            //$('#RestrictLevelDDL').val('-');
        });

    });
</script>

<style>
    #hello ul { list-style: none; padding: 0; margin: 0; background-color: #e0ffff;}
    /* #hello ul li { list-style: none; border-bottom: 1px solid #000;} */
    #hello ul li:hover { background-color: #e5e5e5; }
</style>

<div id="hello">
    <strong>@WebApp.DisplayString.SetChannelRestrictLevelTitle</strong><br/>
    <ul>
        <li>@WebApp.DisplayString.ServerChoice @Html.DropDownList("ServNoDDL")</li>
        <li>@WebApp.DisplayString.Level @Html.DropDownList("RestrictLevelDDL") <button id="check-current-setting">@WebApp.DisplayString.CheckCurrentSetting</button> <button id="open-dialog">@WebApp.DisplayString.Submit</button></li>
    </ul>
</div>
