﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="ControlInviteFriend.aspx.cs" Inherits="WebApp.Account.ControlInviteFriend" %>

