
/*A:link    {color:black;text-decoration:none;}
A:visited {color:black;text-decoration:none;}
A:active  {color:black;text-decoration:none;}
A:hover  {color:444444;text-decoration:underline}        
*/
hr
{
    width: 100%;
    color: #dcdcdc;
    height: 1px;
}
/*img {
    border: 0px; 
}
*/

/*
A:link    {color:black;text-decoration:none;}
A:visited {color:black;text-decoration:none;}
A:active  {color:black;text-decoration:none;}
A:hover  {color:#444444;text-decoration:underline}        
*/
a[href]
{
	color: #000000 !important;	/* For Firefox... mark as important, otherwise it becomes black */
}

body
{
	background-color: #ffffff;

	margin: 0px;
	font-size: 10px;
}

body, td
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;
}


h1
{
	font-size: 1.2em;
	margin: 0;
}

th
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	text-align:left;
	vertical-align:top;	
	word-break: break-all;

	background-color: #ADD8E6; /* lightblue; */
}

td
{
	word-break: break-all;
}



br, p, ul, li
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.fckeditorbody
{
    line-height: 150%;
}

.chatlog
{
    line-height: 120%;
}

.pager
{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #f0f0f0;
    font-family: 'Arial Black';
    text-align: center;
}

.pager a
{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #f0f0f0;
    font-family: 'Arial Black';
    text-align: center;
}

.width-full {
	width: 100%;
}


a:link {
    font-size: 12px;
	color: #666666;
    text-decoration:none;
}
a:visited {
    font-size: 12px;
	color: #666666;
    text-decoration:none;
}
a:hover {
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
}
a:active {
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
}
.list_top {
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	background-color:#f0f0f0;
}
.list_page_diff {
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	
}

.list_date {
	font-size: 11px;
	color: #999999;
}
.list_diff {

	font-size: 12px;
	color: #666666;
}
.list_number {
	font-size: 12px;
	color: #999999;
	font-weight: bold;
}
.left_diff {
	font-size: 12px;
	color: #333333;
}

.list_page_now {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

/*Modal Popup*/
/*
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
*/

.webapp_table
{
	font-size: medium;
    width:100%;
}

.log_content 
{
	font-size: 8px;
	background-color:#ffffff;
}

.log_content2 
{
	font-size: 8px;
	background-color:Silver;
	/*background-color:#f0f0f0;	 */
}



/* 전체 테이블의 외곽선 있고 각각의 셀에는 외곽선 없다 */
.outerlineTable
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;
	border-collapse: collapse;
	border: 1px solid #000000;
	
	text-align:left;
	vertical-align:top;

	margin-bottom: 10px;
}

.outerlineTable th
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	padding: 2px 2px 2px 2px;
	
	text-align:left;
	vertical-align:top;	

	background-color: silver;
}

.outerlineTable td
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	padding: 2px 2px 2px 2px;
	
	text-align:left;
	vertical-align:top;	
}



/* 전체 테이블의 외곽선이 없고 각각의 셀에도 외곽선 없다 */
.nolineTable
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;
	border-collapse: collapse;
	
	text-align:left;
	vertical-align:top;	
}

.nolineTable th
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	border: 0px solid #000000;
	padding: 2px 2px 2px 2px;


	text-align:left;
	vertical-align:top;	

	background-color: silver;
}


.nolineTable td
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	border: 0px solid #000000;
	padding: 2px 2px 2px 2px;

	text-align:left;
	vertical-align:top;	

}


/* 전체 테이블의 외곽선 있고 각각의 셀에도 외곽선 있다 */
.lineTable
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;
	border-collapse: collapse;
	border: 1px solid #000000;
	text-align:left;
	vertical-align:top;	
	margin-bottom: 10px;
}

.lineTable th
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	border: 1px solid #000000;
	padding: 2px 2px 2px 2px;

	text-align:left;
	vertical-align:top;	

	background-color: silver;
}

.lineTable td
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	border: 1px solid #000000;
	padding: 2px 2px 2px 2px;

	text-align:left;
	vertical-align:top;	
	

}

.lineTable td.left
{
    font-weight:bold;
    text-align:left;
    background-color:silver;
}

.lineTable .right
{   
    text-align:right;
}

/* 전체 테이블의 외곽선 있고 각각의 셀에도 외곽선 있다 (중앙정렬 ver) */
.lineTableAlignCenter
{   
    font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;
	border-collapse: collapse;
	border: 1px solid #000000;
	text-align:center;
	vertical-align:top;	
}

.lineTableAlignCenter th
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	border: 1px solid #000000;
	padding: 2px 2px 2px 2px;

	text-align:center;
	vertical-align:top;	

	background-color: silver;
}

.lineTableAlignCenter td
{   
    font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	border: 1px solid #000000;
	padding: 2px 2px 2px 2px;

	text-align:center;
	vertical-align:top;	
}

/* 로그 테이블은 전체 테이블의 외곽선이 없고 각각의 셀에도 외곽선 없다 */
.logTable
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 8pt;
	border-collapse: collapse;
	
	text-align:left;
	vertical-align:top;	
}

.logTable th
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 8pt;

	border: 0px solid #000000;
	padding: 2px 2px 2px 2px;

	border-collapse: collapse;
	border: 1px solid #000000;
	
	text-align:left;
	vertical-align:top;	

	background-color: silver;
}


.logTable td
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 8pt;

	border: 0px solid #000000;
	padding: 2px 2px 2px 2px;

	text-align:left;
	vertical-align:top;	

}


.oddTableRow
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	border: 1px solid #000000;
	padding: 2px 2px 2px 2px;

	text-align:left;
	vertical-align:top;	

	background-color: #D3D3D3; /* lightgrey; */
}


.headerCell
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 8pt;

	border: 0px solid #000000;
	padding: 2px 2px 2px 2px;

	border-collapse: collapse;
	border: 1px solid #000000;
	
	text-align:left;
	vertical-align:top;	

	background-color: silver;
}


.outerlinePaddingTable
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;
	border-collapse: separate;
	border: 1px solid #000000;
    padding: 5px;
	margin: 10px;

	text-align:left;
	vertical-align:top;

    width: 400px;
}

.outerlinePaddingTable th
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;
    font-weight: bold;

	padding: 2px;
	width: 100px;

	text-align:left;
	vertical-align:top;	
    background-color: transparent;

}

.outerlinePaddingTable td
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;

	padding: 2px;
	
	text-align:left;
	vertical-align:top;	
}

form#PageForm
{
	display: inherit;
	margin-top: 10px;
}

.checkBoxTable
{
    font-family: Arial, Verdana, Sans-Serif;
	font-size: 10pt;
	border-collapse: collapse;
	border: 1px solid #000000;

	text-align:left;
	vertical-align:top;
}

.checkBoxTable td
{
    border: 1px solid #000000;
    width: 200px;
}

.width10 { width: 10px; }
.width20 { width: 20px; }
.width30 { width: 30px; }
.width40 { width: 40px; }
.width50 { width: 50px; }
.width60 { width: 60px; }
.width70 { width: 70px; }
.width80 { width: 80px; }
.width90 { width: 90px; }
.width100 { width: 100px; }
.width110 { width: 110px; }
.width120 { width: 120px; }
.width130 { width: 130px; }
.width140 { width: 140px; }
.width150 { width: 150px; }
.width160 { width: 160px; }
.width170 { width: 170px; }
.width180 { width: 180px; }
.width190 { width: 190px; }
.width200 { width: 200px; }
.width250 { width: 250px; }
.width300 { width: 300px; }
.width350 { width: 350px; }
.width400 { width: 400px; }
.width450 { width: 450px; }
.width500 { width: 500px; }
.width600 { width: 600px; }
.width700 { width: 700px; }
.width800 { width: 800px; }
.width900 { width: 900px; }
.width1000 { width: 1000px; }


ul.submenus {
	list-style-type: none;
	padding: 0;
	margin: 10px 0;
}

ul.submenus > li {
	display: inline-block;
	margin-right: 10px;
}

ul.submenus > li > a.active {
	font-weight: bolder;
	text-decoration: underline;
}

div.ato-serverlist {
	border: 1px solid #777;
	margin-bottom: 10px;
	padding: 3px;
}

div.ato-serverlist label:first-child{
	font-weight: bolder;
}

div.ato-serverlist > ul {
	list-style-type: none;
	padding: 0;
	margin: 5px 0;
}

div.ato-serverlist li {
	display: inline-block;
	margin-right: 10px;
}

div.ato-serverlist input[type=checkbox] {
	margin-right: 5px;
	cursor: pointer;
}

div.ato-serverlist ul label {
	cursor: pointer;
}

div.ato-serverlist ul label:hover {
	text-decoration: underline;
}

div.ato-main {
	margin-bottom: 10px;
}

div.ato-main table {
	margin: 10px 0;
}

ul.form-style {
	list-style-type: none;
	padding: 0;
}

ul.form-style li {
	margin-bottom: 3px;
}

ul.form-style li label{
	display: inline-block;
}

ul.radio-group {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.radio-group > li {
	display: inline-block;
	margin-right: 5px;
}

input[type=date]::-ms-clear
{
    display:none;
}