﻿@using WebApp
@using System.Web.Mvc.Html
@{
    ViewBag.Title = "TeraTimeRegister";
}

<script type="text/javascript">
    function GetItemName(templateId) {
        return InvokeWebServiceSyncByUri('/api/TeraData/GetItemName', 'id=' + templateId);
    }

    var GenerateParam = function () {
        return {
            serverNo: $('#ServNoDDL').val(),
            mailSenderName: $('#mail-sender-name').val(),
            mailTitle: $('#mail-title').val(),
            mailBody: $('#mail-body').val(),
            itemTemplateId: $('#item-template-id').val(),
            itemAmount: $('#item-amount').val(),
            memo: $('#memo-text').val(),
            startTime: $('#start-date').val() + $('#start-time').val(),
            endTime: $('#end-date').val() + $('#end-time').val(),
            immediate: $('#register-form').data('immediate') == 'true'
        };
    };



    function GenerateConfirmList(displayString) {
        var list = $('#confirm-list');
        list.empty();
        list.append('<li>' + displayString.ServerName + ': ' + $('#ServNoDDL option:selected').text() + '</li>');
        list.append('<li>' + displayString.Parcel_Sender + ': ' + $('#mail-sender-name').val() + '</li>');
        list.append('<li>' + displayString.Title + ': ' + $('#mail-title').val() + '</li>');
        var itemInfo = $('#item-template-id').val();
        var itemName = $('#item-name').text();
        if (itemName.length > 0) {
            itemInfo = itemInfo + '(' + itemName + ')';
        }
            
        list.append('<li>' + displayString.Item + ': ' + itemInfo + '</li>');
        list.append('<li>' + displayString.ItemAmount + ': ' + $('#item-amount').val() + '</li>');
        list.append('<li>' + displayString.Parcel_Msg + ': ' + $('#mail-body').val() + '</li>');

        var immediate = $('#register-form').data('immediate') == 'true';
        if (immediate == false) {
            list.append('<li>' + displayString.EventPeriod + ': ' + $('#start-date').val() + ' ' + $('#start-time').val() + ' ~ ' + $('#end-date').val() + ' ' + $('#end-time').val() + '</li>');
        }
    }

    function checkIfParamIsValid(paramNames) {
        var pass = true;
        $.each(paramNames, function (index, value) {
            if ($(value).val())
                return true;
            $(value).focus();
            pass = false;
            return false;
        });


        return pass;
    }

    function checkIfImmediateParamIsValid() {
        return checkIfParamIsValid(['#ServNoDDL', '#mail-sender-name', '#mail-title', '#mail-body', '#item-template-id', '#item-amount']);
    }

    function checkIfReserveParamIsValid() {


        return checkIfParamIsValid(['#ServNoDDL', '#mail-sender-name', '#mail-title', '#mail-body', '#item-template-id', '#item-amount', '#start-date', '#start-time', '#end-date', '#end-time']);
    }

    $(document).ready(function () {
        var displayString = GetDisplayString();

        $('#memo-dialog').memoDialog(displayString, function () {
            var param = GenerateParam();
            InvokeWebService('/api/OpCommand/RegisterTeraTime', param,
                                function (jsonData) {
                                    $('#message-box-label').text(jsonData);
                                    $('#message-box').dialog("open");
                                    $('#memo-text').val('');
                                },
                function (e) {
                    $('#message-box-label').text(displayString.Fail);
                    $('#message-box').dialog("open");
                });

        });


        $('#get-item-name').button().click(function () {
            var itemName = GetItemName($('#item-template-id').val());
            $('#item-name').text(itemName);
        });

        $('#item-template-id').change(function () {
            $('#item-name').text('');
        });

        $('#item-immediate').button().click(function () {
            if (!checkIfImmediateParamIsValid())
                return;

            var itemAmount = $('#item-amount').val();
            if (itemAmount < 1 || !(itemAmount % 1 === 0)) {
               alert(displayString.InvalidParam);
               return;
            }

            $('#register-form').data('immediate', 'true');
            GenerateConfirmList(displayString);
            $('#memo-dialog').dialog("open");
            return false;
        });

        $('#item-reserve').button().click(function () {
            if (!checkIfReserveParamIsValid())
                return;

            var itemAmount = $('#item-amount').val();
            if (itemAmount < 1 || !(itemAmount % 1 === 0)) {
                alert(displayString.InvalidParam);
                return;
            }

            if ($('#start-date').val().length < 8 || $('#start-time').val().length < 4 || $('#end-date').val().length < 8 || $('#end-time').val().length < 4) {
                alert(displayString.WrongTime);
                return false;
            }

            $('#register-form').data('immediate', 'false');
            GenerateConfirmList(displayString);
            $('#memo-dialog').dialog("open");
            return false;
        });

    });
</script>

<style>
    #register-form p {
        background-color: #e0ffff;
    }
    #register-form p label {
        width: 100px;
        display: inline-block;
    }
    

    #register-form ul { list-style: none; padding: 0; margin: 0; background-color: #e0ffff;}
    /* #admin-form ul li { list-style: none; border-bottom: 1px solid #000;} */
    #register-form ul li:hover { background-color: #e5e5e5; }
</style>

<div id="register-form" data-immediate="false">
    <strong>@DisplayString.GiveItemToConcurrentUserTitle</strong>
    <p>
        
    </p>
    <p>
        <label>@DisplayString.ServerChoice</label>
        @Html.DropDownList("ServNoDDL")
    </p>
    <p>
        <label>@DisplayString.Parcel_Sender</label>
        <input id="mail-sender-name" type="text" value="" />
    </p>
    <p>
        <label>@DisplayString.Title</label>
        <input id="mail-title" type="text" value="" />
    </p>
    <p>
        <label>@DisplayString.Parcel_Msg</label>
        <textarea cols="40" id="mail-body" rows="4"></textarea>

    </p>
    <p>
        <label>@DisplayString.ItemID</label>
        <input id="item-template-id" type="text" value="" />
        <input type="button" id="get-item-name" value="GetItemName" />
        <span id="item-name"></span>
    </p>
    <p>
        <label>@DisplayString.ItemAmount</label>
        <input id="item-amount" type="text" value="" />
    </p>
    <p>
        @DisplayString.GiveItemPeriod
        <input type="text" id="start-date" size="8" maxlength="8" /> <input type="text" id="start-time" size="4" maxlength="4" /> ~ 
        <input type="text" id="end-date" size="8" maxlength="8" /> <input type="text" id="end-time" size="4" maxlength="4" /> [@DisplayString.InputFormat] 20110111 0600 
    </p>
    <p>
        <button id="item-immediate">@DisplayString.ImmediateGiveItem</button> <button id="item-reserve">@DisplayString.ReserveGiveItem</button>
    </p>
</div>

<div id="memo-dialog">
    <div>
        <ol id="confirm-list" />
    </div>
    <form>
        <label>@DisplayString.MemoRegister</label>
        <fieldset>
            <textarea id="memo-text" class="text ui-widget-content ui-corner-all" rows="5" cols="50"></textarea>
        </fieldset>
    </form>
    <div id="message-box">
        <label id="message-box-label"></label>
    </div>
</div>
