﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AppCode/DataSetAskDialog.master" AutoEventWireup="true" CodeBehind="ATO_DeleteAllEventCondition.aspx.cs" Inherits="WebApp.EventSystem.ATO_DeleteAllEventCondition" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TERA_ATO" runat="server">
    <asp:Label runat="server" Text="<%# WebApp.DisplayString.DELETE_ALL_EVENT_CONDITION %>" />
    <br />
</asp:Content>