﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="KillNPCCountClassLevel.aspx.cs" Inherits="WebApp.Report.KillNPCCountClassLevel" %>

