﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="PcDeadByPcClassLevel.aspx.cs" Inherits="WebApp.Report.PcDeadByPcClassLevel" %>

