﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="ViewRestoreItemMoneyByUser.aspx.cs" Inherits="WebApp.Restore.ViewRestoreItemMoneyByUser" %>
