﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true"  CodeBehind="AttendanceEventAdd.aspx.cs" Inherits="WebApp.WorldFestival.AttendanceEventAdd" %>
