﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="EnchantProbEvent.aspx.cs" Inherits="WebApp.WorldFestival.EnchantProbEvent" %>
