﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="HuntingBonusItem.aspx.cs" Inherits="WebApp.WorldFestival.HuntingBonusItem" %>
