﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AppCode/DataSetAskDialog.master" AutoEventWireup="true" CodeBehind="ATO_ResetPremiumSlot.aspx.cs" Inherits="WebApp.ContentsControl.ATO_ResetPremiumSlot" %>

<asp:Content ID="Content2" ContentPlaceHolderID="TERA_ATO" runat="server">
</asp:Content>
