﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AppCode/DataSetAskDialog.master" AutoEventWireup="true" CodeBehind="ATO_DeleteAllDualOptionOpenMaterial.aspx.cs" Inherits="WebApp.Item.ATO_DeleteAllDualOptionOpenMaterial" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TERA_ATO" runat="server">
    <asp:Label runat="server" Text="<%# WebApp.DisplayString.DELETE_ALL_DUALOPTION_OPEN_MATERIAL %>" />
    <br />
</asp:Content>