﻿<%@ Page Title="" MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="GuildCompStatus.aspx.cs" Inherits="WebApp.Guild.GuildCompStatus" %>
