﻿<%@ Page MasterPageFile="~/AppCode/Operate.Master" EnableViewState="false" Language="C#" AutoEventWireup="true" CodeBehind="GuildFloatingCastlePartsStoreState.aspx.cs" Inherits="WebApp.Guild.GuildFloatingCastlePartsStoreState" %>
