﻿<%@ Page Title="CustomBookmark" Language="C#" MasterPageFile="~/AppCode/Operate.Master" AutoEventWireup="true"
    CodeBehind="CustomBookmark.aspx.cs" Inherits="WebApp.Users.CustomBookmark" EnableViewState="false" %>